$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import '~leaflet/dist/leaflet';

@import 'bootstrap-overwrite';
@import '_custom-variables';
@import 'sideBarMenu';
@import 'login';
@import 'filters';


body{
    background-color: rgb(219, 236, 255);
}

.map {
    min-height: 90%;
    height: 90%;
}

.dashboard{
    background-color: rgb(49, 113, 168);
    height: 100%;
    overflow: scroll;
}

.maincontent {
    min-height: 100%;
    height: 100%;
}

.locationListTableRow td {
    color:white !important;
}